<configuration>
  <system.webServer>
    <handlers>
      <!-- Configure iisnode to handle requests -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Process all requests through iisnode -->
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Specify the node process to use -->
    <iisnode nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" />

    <!-- Logging options -->
    <httpErrors existingResponse="PassThrough" />

    <staticContent>
      <!-- Removed .svg to avoid duplication -->
    </staticContent>
  </system.webServer>
</configuration>
